body * {
  font-family: "Consolas", "Microsoft Yahei";
}
.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}
.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}
.app-content {
  background: white;
  padding: 0 15px 0 15px;
}
.scrollable {
  padding-bottom: 50px;
}
.thumb {
  max-width: 64px;
  max-height: 64px;
}
article aside {
  margin: 10px 0;
}
article .content {
  line-height: 200%;
  font-size: 130%;
}
article .content img {
  margin: 10px 0;
  display: block;
}
.loading {
  position: fixed;
  left: 0;
  display: block;
  width: 100%;
  bottom: 30px;
}
