<div ng-init="load()" class="scrollable">
<div class="scrollable-content" when-scrolled="loadMore()">
	<div class="list-group">
		<a href="/news/{{ news.news_id }}" class="list-group-item media" ng-repeat="news in newses">
			<div class="pull-right thumb">
				<img src="/public/img/loading.gif" ng-src="{{ news.thumb }}-thumb" class="img-responsive img-rounded" alt="{{ news.title }}" />
			</div>
			<div class="media-body">
				<h3>{{ news.title | limitTo:10}}</h3>
				<span>[{{ news.created_at*1000|date:'MM-dd' }}]{{ news.description | limitTo:12}}</span>
			</div>
		</a>
	</div>
	<div class="alert alert-info loading text-center" ng-show="busy">加载中...</div>
	<div class="alert text-center" ng-show="currentPage == pages">已经是最后一页啦!</div>
</div>
</div>